@font-face {
    font-family: 'shrikhandregular';
    src: url('./police/shrikhand-regular-webfont.woff2');
    src: url('./police/shrikhand-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;


}
@font-face {
    font-family: 'Roboto';
    src: url('./police/Roboto-Regular.ttf');   

}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./police/Roboto-Bold.ttf');
}

*:focus
{
    outline: 0 !important;
}
a:link
{
    text-decoration: none;
}


body
{
    margin: 0px;
}

.HeaderImg {
    width: 50%;
    display: block;
    margin: 25px auto 15px auto;
}
.fas.fa-map-marker-alt
{
    margin: auto 15% auto 85%;
    font-size: 125%;
    color: rgba(31, 30, 30, 0.863);
    
}
.Location
{
    font-family:'Roboto-Bold';
    font-size: 120%;
    color: rgba(0, 0, 0, 0.692);
}
.GridLocation
{
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: 30% 70%;
    gap: 15px;
    border-color: black;
    background-color: rgba(214, 211, 211, 0.513);
    box-shadow: 0px 5px 5px -5px rgb(170, 169, 169) inset;
    padding: 20px 0px 20px 0px;
    
}
.GridExploration
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    background-color: rgba(143, 142, 142, 0.089);
    gap: 20px;
    padding: 50px 0px 50px 0px;
    
    
    
}
.TitleExploration
{
    font-family: 'Roboto-Bold';
    text-align: center;
    font-size: 185%;
    letter-spacing: -0.5px;
    padding-left: 15%;
    padding-right: 15%;
    
    
}
.SubTitleExploration
{
    font-family: 'Roboto';
    text-align: center;
    font-size: 140%;
    color: rgba(22, 22, 22, 0.678);
    letter-spacing: -1px;
}
.ButtonExploration
{
    font-family: 'Roboto';
    border-radius: 30px 30px;
    height: 60px;
    font-size: 120%;
    padding-left: 5%;
    padding-right: 5%;
    background: linear-gradient(to bottom right,#FF79DA,#9356DC);
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.192) 0px 7px 7px;
    margin: 4% auto 4% auto;
}
.ButtonExploration:hover
{
    background: linear-gradient(to bottom right,#ff79d9ce,#9256dcc0);
    box-shadow: rgba(0, 0, 0, 0.767) 0px 7px 7px; 
    outline: none; 
}
.Step
{
    font-family: 'Roboto-Bold';
    text-align: start;
    font-size: 160%;
    padding: 0 0 10% 5%;
    margin-top: 10%;
}
.StepGrid
{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 80px 80px ;
    gap: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}
.StepTitle
{
    position: absolute;
    left: 15%;
}
.FonctionTitle
{
    font-family: 'Roboto-Bold';
    color: black;
    font-size: 120%;
    letter-spacing: -0.3px;
    position: absolute;
    left: 25%;
}
.fas.fa-mobile-alt
{
    font-size: 150%;
    color: gray;
}
.fas.fa-list
{
    font-size: 150%;
    color: gray;
    
}
.fas.fa-store
{
    font-size: 120%;
    color: gray;
}
.Numbers
{
    font-family: 'Roboto';
    background: #9356dc;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: 2.5%;
}
.FonctionCase
{
    border-radius: 20px;
    border-style:none;
    background-color: rgba(207, 207, 207, 0.233);
    height: 100%;
    width: 90%;
    box-shadow: rgba(82, 81, 81, 0.13) 0px 7px 7px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.FonctionCase:hover
{
    background-color: #955add28;
}
.FonctionCase:hover .StepTitle
{
    color: #8c41e7
} 
.Container
{
    background-color: rgba(143, 142, 142, 0.089);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 285px 285px 285px 285px ;
    margin-top: 70px;
    row-gap: 22px;
    padding-bottom: 60px;
    
}
.RestaurantsMainTitle
{
    font-family: 'Roboto-Bold';
    text-align: start;
    font-size: 160%;
    margin: 60px 5% 0px 5%;
}
.Card
{
   background-color: #fff;
   margin: 0px 5% 0px 5%;
   height: 285px;
   border-radius: 20px;
   box-shadow: rgba(82, 81, 81, 0.13) 0px 7px 7px 2px;
   position: relative;
}
.Cardbadge
{
    text-decoration-line:none;
    font-family: 'Roboto-Bold';
    background-color: #99E2D0;
    color:#0d9e7a;
    height: 33px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 20px;
    right: 20px;
}
.CardImg
{
    height: 70%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.RestaurantCardTitle
{
    font-family: 'Roboto-Bold';
    color: black;
    font-size: 130%;
    margin-left: 15px;
    margin-top: 15px;
    letter-spacing: -0.5px;
}
.RestaurantCardSubTitle
{
    font-family: 'Roboto';
    color: black;
    font-size: 125%;
    margin-left: 15px ;
    margin-top: 5px;
    letter-spacing: -0.5px;
}
.far.fa-heart
{
    position:absolute;
    right: 25px;
    bottom: 33px;
    font-size: 28px;
    border: none;
    cursor: pointer;
    color: rgb(12, 12, 12);
    background-color: white;
    
}
.fas.fa-heart:hover
{
    
    color: rgb(175, 95, 155);
    opacity: 1;
}
.fas.fa-heart
{
    position:absolute;
    right: 24px;
    bottom: 32px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    opacity: 0;
}
.GridFooter
{
    display: grid;
    grid-template-columns: 5% 90% ;
    grid-template-rows: auto auto auto auto ;
    row-gap: 0px;
    padding: 30px 5% 30px 5%;
    height: 130px;
    background-color: rgba(34, 33, 33, 0.924);
    gap: 7px 10px;
}
footer
{
    color: white;
    font-size: 15px;
}
.FooterTitle
{
    font-family: 'shrikhandregular';
    font-size: 19px;
    margin-bottom: 15px;
}
.FooterIconTitle
{
    font-family: 'Roboto-Bold';

}
.FooterGrid1
{
    grid-row: 1/ span 1;
    grid-column: 1/ span 2;
}
.FooterGrid2
{
    grid-row: 2/ span 1;
    grid-column: 1/ span 1;
}
.FooterGrid3
{
    grid-row: 2/ span 1;
    grid-column: 2/ span 1;
}
.FooterGrid4
{
    grid-row: 3/ span 1;
    grid-column: 1/ span 1;
}
.FooterGrid5
{
    grid-row: 3/ span 1;
    grid-column: 2/ span 1;
}
.FooterGrid6
{
    grid-row: 4/ span 1;
    grid-column: 1/ span 2;
}
.FooterGrid7
{
    grid-row: 5/ span 1;
    grid-column: 1/ span 2;
}
.FooterSubTitle
{
    font-family: 'Roboto';
}
