.DisplayDishCard1
{
  animation: displayCard1 1s cubic-bezier(.5,1.58,.34,.82) 1.75s 1 normal both;
}
@keyframes displayCard1
{
    0%{transform: scale(0);    }
    100%{transform: scale(1);}
}
.DisplayDishCard2
{
  animation: displayCard2 1s cubic-bezier(.5,1.58,.34,.82) 2s 1 normal both;
}
@keyframes displayCard2
{
    0%{transform: scale(0);    }
    100%{transform: scale(1);}
}
.DisplayDishCard3
{
  animation: displayCard3 1s cubic-bezier(.5,1.58,.34,.82) 2.25s 1 normal both;
}
@keyframes displayCard3
{
    0%{transform: scale(0);    }
    100%{transform: scale(1);}
}
.DisplayDishCard4
{
  animation: displayCard4 1s cubic-bezier(.5,1.58,.34,.82) 2.5s 1 normal both;
}
@keyframes displayCard4
{
    0%{transform: scale(0);    }
    100%{transform: scale(1);}
}
.GridHeader
{
    display: grid;
    grid-template-columns: 20% 80%;
}
.fas.fa-arrow-left
{
    color: black;
    font-size: 23px;
    margin: 25px 70% 15px 30%;
}
.HeaderImg
{
    margin: 25px 0% 15px 10%;
}
.CardImg
{
    border-radius: 0px;
    object-fit: cover;
    height: 275px;

}
.CardTitle
{
    font-family: 'shrikhand';
    font-size: 30px;
    
}
.GridTitle
{
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: auto;
    padding: 35px 5% 0px 5%
}
.far.fa-heart
{
    
    background-color:  rgb(243, 242, 242) ;
}
.CardContainer
{
    background-color: rgb(243, 242, 242);
    border-radius: 35px 35px 0 0;
    position: relative;
    bottom: 55px;
    height: 1300px;
}
.Dishes
{
    display: grid;
    grid-template-rows:  70px 70px 70px;
    grid-template-columns: 100%;
    row-gap: 15px;
    margin: 25px 5% 25px 5%;
}
.Starters
{
    font-family: 'Roboto';
    position: relative;
    font-size: 20px;
    font-weight: normal;
    margin-left: 5%;
    margin-top: 40px;

}
.Starters::after
{
    content: "";
    height: 3px;
    width: 12%;
    background: #17c4987c;
    position: absolute;
    left: 0;
    bottom: -7px;
}
.DishCard
{
    display: flex;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(82, 81, 81, 0.13) 0px 7px 7px;
    height: 70px;
    align-items:center ;
}
.Checked
{
    border-radius: 0 10px 10px 0;
    height: 100%;
    width: 0%;
    position: relative;
}
.DishCardText
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 72%;
    padding-left: 3%;
}
.DishCardTitle
{
    font-family: 'Roboto-Bold';
    font-size: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}
.DishCardSubTitle
{
    font-family: 'Roboto';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0%;
    
}
.DishCardPrice
{
    font-family: 'Roboto-Bold';
    text-align: right;
    width: 15%;
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;

}
.ButtonExploration
{
    padding: 0% 13% 0% 13%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 85px;
}
.DishCard:hover .Checked 
{
    animation: checkedItem 1s cubic-bezier(.5, 1.58, .34, .82) forwards;
    background-color: #17c4987c;
}
.DishCard:not(:hover) .Checked 
{
    
    animation: notCheckedItem 1s cubic-bezier(.5, 1.58, .34, .82) forwards;
    background-color: #17c4987c;
}
@keyframes checkedItem
{
    100%{width: 100px;}
}
@keyframes notCheckedItem
{
    0%{width:100px;}
    100%{width: 0%;}
}
.fas.fa-check-circle
{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 0px;
}
.DishCard:hover .fas.fa-check-circle
{
    animation: checkedIcon 350ms ease-out forwards;
    color: white;
    font-size: 25px
}

@keyframes checkedIcon
{
    0%{ transform: rotate(90deg); opacity: 0;}
    10%{opacity: 1; ;}
    100%{opacity: 1;color: white;}
}
.DishCard:not(:hover) .fas.fa-check-circle
{
    color: white;
    animation: notCheckedIcon 350ms ease-out forwards;
}
@keyframes notCheckedIcon
{
    0%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;transform: rotate(90deg);}
}
