.GridHeader
{
    display: grid;
    grid-template-columns: 20% 80%;
}
.fas.fa-arrow-left
{
    color: black;
    font-size: 23px;
    margin: 25px 70% 15px 30%;
}
.HeaderImg
{
    margin: 25px 90% 15px 10%;
}
.CardImg
{
    border-radius: 0px;

}
.CardTitle
{
    font-family: 'shrikhand';
    font-size: 30px;
    padding: 35px 0px 0px 5%;
    
}
.far.fa-heart
{
    position:absolute;
    right: 40px;
    bottom: 992px;
    background-color:  rgb(243, 242, 242) ;
}
.fas.fa-heart
{
    position:absolute;
    right: 39px;
    bottom: 992px;
}
.CardContainer
{
    background-color: rgb(243, 242, 242);
    border-radius: 35px 35px 0 0;
    position: relative;
    bottom: 55px;
}
.Dishes
{
    display: grid;
    grid-template-rows:  70px 70px 70px;
    row-gap: 15px ;
    margin-top: 25px;
    margin-bottom: 25px;
}
.Starters
{
    font-family: 'Roboto';
    position: relative;
    font-size: 20px;
    font-weight: normal;
    margin-left: 5%;
    margin-top: 40px;

}
.Starters::after
{
    content: "";
    height: 3px;
    width: 12%;
    background: #17c4987c;
    position: absolute;
    left: 0;
    bottom: -7px;
}
.DishCard
{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto;
    border-radius: 10px;
    background-color: white;
    margin: 0px 5% 0px 5%;
    box-shadow: rgba(82, 81, 81, 0.13) 0px 7px 7px;
    height: 70px;
}
.DishCardTitle
{
    font-family: 'Roboto-Bold';
    font-size: 19px;
    padding: 3% 0 1% 4%;
    grid-row: 1/ span 1;
    grid-column: 1/ span 2;
}
.DishCardSubTitle
{
    font-family: 'Roboto';
    margin-left: 5%;
    grid-row: 2/ span 1;
    grid-column: 1/ span 1;
}
.DishCardPrice
{
    font-family: 'Roboto-Bold';
    text-align: right;
    margin-right: 25%;
    margin-bottom: 10%;
    grid-row: 2/ span 1;
    grid-column: 2/ span 1;
}